header {
  align-items: center;
  background-color: #42e8f4;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

button {
  position: absolute;
  transition: .5s ease;
  left: 70%;
  top: 1%;
  border-radius: 2px;
  min-width: 88px;
  background-color: #ffffff;
  cursor: pointer;
  border: 0;
  min-width: 120px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 10px 6px;
  margin-right:6px;
}

.navbar li {
  position: absolute;
  margin-bottom: 10px;
  transition: .5s ease;
  left: 61%;
  top: 7%;
}

.user-profile {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
}

.user-profile img {
  border-radius: 50%;
  max-width: 100%;
}

@media(min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .navbar li {
    margin: 0 10px;
  }
}

@media(min-width: 992px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  .navbar li {
    margin: 0 0 0 20px;
  }
}
